recursive-include tests *.py
recursive-include tests/data *.gz
recursive-include tests/data *.mzML

recursive-include compile_tools *.py
recursive-include scripts *.py
recursive-include Numpress *

include LICENSE.txt
include README.md
include pymzml/py.typed
